Two possibles
Real Time Sentiment detection
Detection Sentiment from text (custom data)

In [1]:
#real time Detection
from textblob import TextBlob
while True:

    input_text = input("Enter your text or press exit to leave : ")
    print("\n")
    text = TextBlob(input_text)
    sentiment = text.sentiment.polarity
    if sentiment > 0:
        print("Prositive")
    elif sentiment == 0:
        print("Netural")
    else:
        print("Negative")

    if input_text == "exit":
        print("Good Bye")
        break

Enter your text or press exit to leave : exit


Netural
Good Bye

In [2]:
print("helo")

helo

# Function ON custom data

In [14]:
import pandas as pd

def sentiment_detection(text):
    text = text.lower()
    
    blob_text = TextBlob(text)
    sentiment = blob_text.sentiment.polarity
    if sentiment == 0:
        return "Natural"
    elif sentiment > 0:
        return "Positive"
    else:
        return "Negative"

In [15]:
import pandas as pd

df = pd.read_csv('/home/catpc/Downloads/archive (10)/redmi6.csv', encoding='ISO-8859-1')

In [16]:
df.head()

,Review Title,Customer name,Rating,Date,Category,Comments,Useful
0,Another Midrange killer Smartphone by Xiaomi,Rishikumar Thakur,4.0 out of 5 stars,on 1 October 2018,Display,Another Midrange killer Smartphone by Xiaomi\n...,
1,vry small size mobile,Raza ji,3.0 out of 5 stars,on 15 September 2018,Others,All ok but vry small size mobile,7 people found this helpful
2,Full display not working in all application.,Vaibhav Patel,3.0 out of 5 stars,on 18 September 2018,Others,Quite good,7 people found this helpful
3,Value for Money,Amazon Customer,5.0 out of 5 stars,on 28 September 2018,Display,Redmi has always have been the the king of bud...,2 people found this helpful
4,Not worth for the money,Sudhakaran Wadakkancheri,2.0 out of 5 stars,on 18 September 2018,Others,worst product from MI. I am a hardcore fan of ...,6 people found this helpful

In [17]:
df = df[['Customer name','Comments']]

In [18]:
df.head()

              Customer name                                           Comments
0         Rishikumar Thakur  Another Midrange killer Smartphone by Xiaomi\n...
1                   Raza ji                   All ok but vry small size mobile
2             Vaibhav Patel                                         Quite good
3           Amazon Customer  Redmi has always have been the the king of bud...
4  Sudhakaran Wadakkancheri  worst product from MI. I am a hardcore fan of ...

In [19]:
df['label'] = df['Comments'].apply(sentiment_detection)

In [20]:
df.head()

,Customer name,Comments,label
0,Rishikumar Thakur,Another Midrange killer Smartphone by Xiaomi\n...,Positive
1,Raza ji,All ok but vry small size mobile,Positive
2,Vaibhav Patel,Quite good,Positive
3,Amazon Customer,Redmi has always have been the the king of bud...,Positive
4,Sudhakaran Wadakkancheri,worst product from MI. I am a hardcore fan of ...,Negative